/* general - xoops */

table.d3shop_view_default { margin: 2px; }
td.d3shop_image { border:0; padding: 2px; }
td.d3shop_name { background-color: #cccccc; font-weight:bold; height:1em; padding: 2px; }
.d3shop_price { font-family: monospace; }
td.d3shop_description { padding: 4px; }
td.d3shop_categories { padding: 4px; }
td.d3shop_manufacturer { padding: 4px; }
td.d3shop_controllers { width: 150px; vertical-align: bottom; text-align:right; padding: 4px; }

table.d3shop_main_cart { width: 600px; }

table.d3shop_delivery_address { width: 600px; border: black solid 1px; }
table.d3shop_delivery_address th.head { width: 200px; color:black; font-weight: normal; border: black solid 1px; }
table.d3shop_delivery_address td.even { width: 400px; background-color:white; color:black; border: black solid 1px; }

table.d3shop_billing_address { width: 600px; border: black solid 1px; }
table.d3shop_billing_address th.head { width: 200px; color:black; font-weight: normal; border: black solid 1px; }
table.d3shop_billing_address td.even { width: 400px; background-color:white; color:black; border: black solid 1px; }

table.d3shop_payment { width: 600px; border: black solid 1px; }
table.d3shop_payment th.head { width: 200px; color:black; font-weight: normal; border: black solid 1px; }
table.d3shop_payment td.even { width: 400px; background-color:white; color:black; border: black solid 1px; }

table.d3shop_shipment { width: 600px; border: black solid 1px; }
table.d3shop_shipment th.head { width: 200px; color:black; font-weight: normal; border: black solid 1px; }
table.d3shop_shipment td.even { width: 400px; background-color:white; color:black; border: black solid 1px; }

table.d3shop_final_price { width: 200px; border: black solid 1px; }
table.d3shop_final_price th.head { width: 100px; color:black; font-weight: normal; border: black solid 1px; }
table.d3shop_final_price td.even { width: 100px; background-color:white; color:black; border: black solid 1px; }

span.d3shop_notice { font-size: 80%; color: #666666; }

table#d3shop_order_history_list { width: 600px; border: #CCCCCC solid 3px; }
table#d3shop_order_history_list td { padding: 10px; background-color:white; color:black; border: none;}
table#d3shop_order_history_list td.col0 { width: 200px; }
table#d3shop_order_history_list td.col1 { width: 280px; }
table#d3shop_order_history_list td.col2 { text-align:right; vertical-align: bottom; }

dl#d3shop_order_history_detail_delivery { margin: 10px; padding: 4px; border: 1px solid #CCCCCC; width: 480px; line-height: 1.8em; }
dl#d3shop_order_history_detail_delivery dt { width: 12em; }
dl#d3shop_order_history_detail_delivery dd { margin-left: 12em; margin-top: -1.8em}

dl#d3shop_order_history_detail_billing { margin: 10px; padding: 4px; border: 1px solid #CCCCCC; width: 480px; line-height: 1.8em; }
dl#d3shop_order_history_detail_billing dt { width: 12em; }
dl#d3shop_order_history_detail_billing dd { margin-left: 12em; margin-top: -1.8em}

dl#d3shop_order_history_detail_shipment { margin: 10px; padding: 4px; border: 1px solid #CCCCCC; width: 240px; line-height: 1.8em; }
dl#d3shop_order_history_detail_shipment dt { width: 12em; }
dl#d3shop_order_history_detail_shipment dd { margin-left: 12em; margin-top: -1.8em}

dl#d3shop_order_history_detail_payment { margin: 10px; padding: 4px; border: 1px solid #CCCCCC; width: 240px; line-height: 1.8em; }
dl#d3shop_order_history_detail_payment dt { width: 12em; }
dl#d3shop_order_history_detail_payment dd { margin-left: 12em; margin-top: -1.8em}

table#d3shop_order_history_detail_product { width: 600px; margin: 10px; border: 1px solid #CCCCCC; line-height: 1.8em; }
table#d3shop_order_history_detail_product td.col2 { width: 60px; text-align:right; }
table#d3shop_order_history_detail_product td.col3 { width: 40px; text-align:right; }
table#d3shop_order_history_detail_product td.col4 { width: 60px; text-align:right; }

