/* general - xoops */
/* xoopsCode */

#post_reference dd div.xoopsCode,
#post_preview dd div.xoopsCode,
div.d3f_body div.xoopsCode{
	width				:95%;
	overflow				:auto;
	margin				:10px 0;}

/* xoopsQuote */

div.d3f_body blockquote{
	margin				:0;
	padding				:5px;}
div.d3f_body div.xoopsQuote{
	margin				:0;
	padding				:0;}
#post_reference dd blockquote,
#post_preview dd blockquote{
	margin				:0;
	padding				:5px;}

/* d3f_breadcrumbs */

div.d3f_breadcrumbs{
	font-size				:95%;}

/* head */

.d3f_head{
	clear				:both;
	padding				:3px 8px;}
.d3f_head *{
	vertical-align		:middle;}
.d3f_head p{
	font-weight			:normal;
	font-size				:95%;
	margin				:0;
	padding				:0 0 2px;}

/* h1 */

.d3f_title *{
	vertical-align		:middle;}

/* h2 */

.d3f_head h2{
	font-size				:120%;
	margin				:0;
	padding				:0;}
.d3f_head h2.invisible {
	background-color		:#f00;}
.d3f_head h2.yetapproval {
	background-color		:#0ff;}
.d3f_head h2 img{
	vertical-align		:middle;}
h2.d3f_head{
	font-size				:120%;
	padding				:3px 8px;}
h2.d3f_tree{
	margin-bottom			:4px;}

/* h3 */

h3.d3f_head_h3{
	margin				:5px 0 0;
	padding				:2px 8px;
	border-bottom			:1px #999 solid;}

/* inc_eachpost.html */
/* msgnum */

.d3f_msgnum{
	font-size				:95%;
	font-weight			:normal;}

/* d3f_info, d3f_info_sub, d3f_info_ctrl */

.d3f_info{
	margin				:2px 0 0;
	padding				:3px 8px;
	background-color		:#eee;}
.d3f_info_sub{
	padding				:2px 8px 3px;
	background-color		:#fff;}
.d3f_info_ctrl{
	clear				:both;
	margin				:2px -2px 2px;
	padding				:3px 10px;
	background-color		:#fff;
	border-top			:1px #aaa dotted;
	border-bottom			:1px #aaa solid;}
.d3f_info *,.d3f_info_sub *,.d3f_info_ctrl *{
	vertical-align		:middle;}

/* d3f_body */

.d3f_body{
	margin				:0 -2px;
	padding				:5px 2px 5px 8px;
	border-top			:1px #aaa solid;}

/* d3f_avatar */

.d3f_avatar{
	float				:right;
	margin				:0 0 5px;}


/* main_listposts.html */
/* d3f_wrap */

.d3f_wrap{
	clear				:both;
	border-top			:1px #aaa solid;
	border-right			:1px #aaa solid;
	border-left			:1px #aaa solid;
	padding				:2px 2px 0;}

/* d3f_topicinfo */

.d3f_topicinfo{
	text-align			:left;
	margin				:0;
	padding				:2px;}

/* d3f_ctrl */

.d3f_ctrl{
	text-align			:center;
	clear				:both;
	margin				:-8px 0 10px;
	padding				:8px;
	background-color		:#eee;}
.d3f_ctrl *{
	vertical-align		:middle;}
.d3f_ctrl p,.d3f_ctrl form{
	padding				:3px;
	margin				:0;}

ul.d3f_othertopics,ul.d3f_othertopics li{
	list-style			:none outside;
	text-align			:center;
	margin				:0;
	padding				:0;}
ul.d3f_othertopics li{
	padding-bottom		:10px;}
ul.d3f_othertopics li{
	width				:33%;
	float				:left;}

/* main_viewpost.html */
/* eachbranch */

ul.d3f_eachbranch{
	margin				:0;
	padding				:0;}
ul.d3f_eachbranch li{
	list-style			:none outside;
	margin				:0;
	padding				:0;}
ul.d3f_eachbranch li img{
	vertical-align		:middle;}

/* d3f_currenttopic */

.d3f_eachbranch li.d3f_eachbranchitem{
	background-color		:#eee;}
.d3f_eachbranch li.d3f_currenttopic{
	background-color		:#fff;}

/* main_listforums.html */
/* d3f_subcategories */

ul.d3f_subcategories li{
	list-style			:none outside;}

/* d3forum_main_listcategories.html */
/* infomations*/

dl.d3f_bbsinfo{
	font-size			:95%;
	margin			:0;
	float				:left;}
dl.d3f_bbsinfo dt,dl.d3f_bbsinfo dd{
	display			:inline;
	margin			:0;}
dl.d3f_bbsinfo dd{
	margin			:0 5px 0 0;}
dl.d3f_timeinfo{
	clear			:both;
	font-size			:95%;
	margin			:0;
	padding			:0 0 10px;
	float			:left;}
dl.d3f_timeinfo dt,dl.d3f_timeinfo dd{
	display			:inline;
	margin			:0;}
dl.d3f_timeinfo dd{
	margin			:0 5px 0 0;}

ul.d3f_listforums li{
	list-style			:none outside;}

/* main_listtopics.html */
/* d3f_bbsviewctrl */

div.d3f_bbsviewctrl{
	line-height			:100%;
	float				:left;
	padding-bottom		:3px;}
div.d3f_bbsviewctrl form{
	margin				:0;
	padding				:0;}
div.d3f_bbsviewctrl form *,p.d3f_bbsviewctrl *{
	vertical-align		:middle;
	margin				:0;
	padding				:0;}

/* d3f_pagenav */

.d3f_pagenav{
	text-align			:right;
	padding				:3px;}

table.d3f_table{
	clear				:both;}
table.d3f_table thead th,
table.d3f_table td{
	text-align			:center !important;
	padding				:3px;
	vertical-align		:middle;}
table.d3f_table td.d3f_topictitle,
table.d3f_table td.d3f_posters{
	text-align			:left !important;}
table.d3f_table td.d3f_mainicon{
	padding				:0;}

table.d3f_table td img{
	vertical-align		:middle;
	margin-right			:3px;}

table.d3f_table td dl{
	text-align			:left;
	margin				:0 -3px;
	padding				:0;}
table.d3f_table td dt{
	margin				:0;
	padding				:3px 3px 5px;}
table.d3f_table td dd{
	margin				:0;
	padding				:0 3px 5px;}
table.d3f_table td dd.d3f_td_topicinfo{
	margin				:0;
	padding				:3px 3px 1px;
	border-top			:1px #777 dashed;
	font-size				:95%;}

/* d3f_iconexp */

div.d3f_iconexps ul.d3f_iconexp{
	width				:45%;
	float				:left;}

ul.d3f_iconexp{
	padding-bottom		:15px;}

ul.d3f_iconexp li{
	list-style			:none outside;
	padding				:3px 0;}

ul.d3f_iconexp li img{
	vertical-align		:middle;
	margin-right			:3px;}


/* d3forum forms */

#post_reference dd,
#post_preview dd{
	margin				:0;}

/* table.d3f_form_table */

table.d3f_form_table td,
table.d3f_form_table th{
	vertical-align		:top !important;
	text-align			:left;}

/* d3f_submit */

p.d3f_submit{
	text-align			:center;
	margin				:0;
	padding				:10px;}

/* edit colors */
/* titles */

div.d3f_msgtitle h2{
	background-color		:#555;}
div.d3f_msgtitle h2.invisible {
	background-color			:#f00;}
div.d3f_msgtitle h2.yetapproval {
	background-color			:#0ff;}
div.d3f_msgtitle h2 a{
	color				:#fff;}
div.d3f_msgtitle h2 a:hover{
	color				:#f4b343;}

.d3f_head ,h2.d3f_head{
	color				:#fff;
	background-color		:#555;}
.d3f_head a,h2.d3f_head a{
	color				:#fff;}
.d3f_head a:hover,h2.d3f_head a:hover{
	color				:#f4b343;}

.d3f_table th,
.d3f_form_table th,
.d3f_table thead th,
.d3f_form_table thead th{
	text-align			:left !important;
	background-color		:#555 !important;}
.d3f_table tr.even td,
.d3f_form_table tr.even td{
	background-color		:#dfdfdd !important;}
.d3f_table tr.odd td,
.d3f_form_table tr.odd td{
	background-color		:#f3f3f3 !important;}

h2.attn {
	background-color			:#f00;}
.d3f_form_table th { color: black;}

