/* general */

div.breadcrumbs{
	font-size				:95%;
	padding				:5px 2px;}
hr.d3f_divide{
	visibility			:hidden;
	clear				:both;}

h1.d3f_title{
	font-size				:130%;
	margin				:0;}
h1.d3f_title img{
	vertical-align		:middle;
	margin-right			:5px;}
h2.d3f_head{
	clear				:both;
	color				:#fff;
	line-height			:100%;
	font-size				:120%;
	margin				:15px 0 0;
	padding				:5px 10px;
	background-color		:#336;}
h2.d3f_head img{
	vertical-align		:middle;
	margin-right			:5px;}
.d3f_pagenav{
	text-align			:right;
	padding				:3px;}

div.d3f_msg blockquote{
	margin				:0;
	padding				:5px;}
div.d3f_msg .xoopsQuote{
	margin				:0;
	padding				:0;}

/* d3f_bbsviewctrl */

div.d3f_bbsviewctrl{
	line-height			:100%;
	float				:left;
	padding-bottom		:3px;}
div.d3f_bbsviewctrl form{
	margin				:0;
	padding				:0;}
div.d3f_bbsviewctrl form *{
	vertical-align		:middle;
	margin				:0;
	padding				:0;}

/* d3f_iconexp */

div.d3f_iconexps ul.d3f_iconexp{
	width				:45%;
	float				:left;}

ul.d3f_iconexp{
	padding-bottom		:15px;}

ul.d3f_iconexp li{
	list-style			:none outside;
	padding				:3px 0;}

ul.d3f_iconexp li img{
	vertical-align		:middle;
	margin-right			:3px;}

/* table.d3f_table */

table.d3f_table{
	clear				:both;}
table.d3f_table thead th,
table.d3f_table td{
	text-align			:center !important;
	padding				:3px;
	vertical-align		:middle;}
table.d3f_table td.d3f_topictitle,
table.d3f_table td.d3f_posters{
	text-align			:left !important;}
table.d3f_table td.d3f_mainicon{
	padding				:0;}

table.d3f_table td img{
	vertical-align		:middle;
	margin-right			:3px;}

table.d3f_table td dl{
	text-align			:left;
	margin				:0 -3px;
	padding				:0;}
table.d3f_table td dt{
	margin				:0;
	padding				:3px 3px 5px;}
table.d3f_table td dd{
	margin				:0;
	padding				:0 3px 5px;}
table.d3f_table td dd.d3f_td_topicinfo{
	margin				:0;
	padding				:3px 3px 1px;
	border-top			:1px #777 dashed;
	font-size				:90%;}

/*  */

dl.d3f_bbsinfo{
	font-size			:90%;
	margin			:0;
	float				:left;}
dl.d3f_bbsinfo dt,dl.d3f_bbsinfo dd{
	display			:inline;
	margin			:0;}
dl.d3f_bbsinfo dd{
	margin			:0 5px 0 0;}
dl.d3f_timeinfo{
	clear			:both;
	font-size			:90%;
	margin			:0;
	float			:left;}
dl.d3f_timeinfo dt,dl.d3f_timeinfo dd{
	display			:inline;
	margin			:0;}
dl.d3f_timeinfo dd{
	margin			:0 5px 0 0;}
p.d3f_topicinfo{
	margin			:15px 0 0;
	padding			:5px;
	border-bottom		:1px #aaa solid;}

/* main_listforums */

ul.d3f_subcategories li{
	list-style			:none outside;}

/* main_listcategories.html */

div.d3f_categoryhead{
	margin-top			:15px;
	padding				:8px 5px;
	clear				:both;
	background-color		:#555;}
div.d3f_categoryhead h2 a,.d3f_categoryhead p{
	color				:#fff;}
div.d3f_categoryhead h2 a:hover{
	color				:#f4b343;}
div.d3f_categoryhead h2{
	font-size				:120%;
	margin				:0;
	padding				:0 0 2px;
	line-height			:100%;}
div.d3f_categoryhead p{
	font-size				:90%;
	font-weight			:normal;
	margin				:0;
	padding				:0;
	line-height			:100%;}
div.d3f_categoryhead img{
	float				:left;
	margin-right			:5px;}
ul.d3f_listforums li{
	list-style			:none outside;}

/* inc_topicbar.html */

div.d3f_bottomctrl{
	clear				:both;}

div.d3f_ctrl{
	background-color		:#eee;
	padding				:10px;
	margin				:0 0 15px;}
div.d3f_shtcut{
	background-color		:#eee;
	padding				:10px;
	margin				:0;
	text-align			:center;
	border-bottom			:1px #333 dashed;}

div.d3f_jump_box{
	text-align			:left;
	border-bottom			:none;
	margin-bottom			:15px;}
div.d3f_jump_box form *{
	vertical-align		:middle;}
form.d3f_search{
	padding				:0;
	margin				:10px 0 0;}


/* d3f_msg */

div.d3f_msg{
	width				:auto;
	margin				:0;
	padding				:2px 2px 0;
	border				:1px #aaa solid;
	/*background-image		:url(images/msg_bg.gif);*/
	/*background-repeat	:repeat-y;*/
	/*background-position	:100px;*/}

/* d3f_msgtitle */

div.d3f_msgtitle{
	padding				:2px;
	width				:auto;
	border-left			:1px #aaa solid;
	border-right			:1px #aaa solid;}

div.d3f_msgtitle h2{
	color				:#fff;
	line-height			:100%;
	font-size				:120%;
	margin				:0;
	padding				:5px 10px;
	background-color		:#336;}
div.d3f_msgtitle h2 img{
	vertical-align		:middle;}
div.d3f_msgtitle h2 a{
	color				:#fff;}
div.d3f_msgtitle h2 a:hover{
	color				:#f4b343;}

/* d3f_msginfo */

div.d3f_msginfo{
	margin				:2px 0 0;
	padding				:3px 10px;

	background-color		:#eee;}

/* d3f_posterinfo */

dl.d3f_posterinfo{
	float				:left;
	padding				:5px;
	margin				:0;
	width				:80px;}
dl.d3f_posterinfo dt{
	margin				:0;
	padding				:0;}
dl.d3f_posterinfo dd{
	margin				:10px 0;
	padding				:0;}
dl.d3f_posterinfo dd ul.d3f_userstatus,
dl.d3f_posterinfo dd ul.d3f_gueststatus{
	margin				:0;
	padding				:0;}
dl.d3f_posterinfo dd ul.d3f_userstatus li,
dl.d3f_posterinfo dd ul.d3f_gueststatus li{
	font-size				:90%;
	list-style			:none outside;
	margin				:0;
	padding				:0;}

/* d3f_msgfld */

div.d3f_msgfld{
	margin				:0 0 0 100px;
	padding				:5px;
	line-height			:140%;}

/* d3f_postctrl */

div.d3f_postctrl{
	text-align			:right;
	border-top			:1px #aaa dotted;
	padding				:5px 10px;
	clear				:both;
	background-color		:#fff;}

/* d3f_avatar */

.d3f_avatar{
	background-repeat		:no-repeat;
	background-position	:bottom left;}

/* d3forum_main_viewpost.html */
/* eachbranch */

ul.d3f_eachbranch{
	margin				:0;
	padding				:0;}
ul.d3f_eachbranch li{
	list-style			:none outside;
	margin				:0;
	padding				:1px 0;}
ul.d3f_eachbranch li img{
	vertical-align		:middle;}

/* d3f_currenttopic */

.d3f_eachbranch li.d3f_eachbranchitem{
	background-color		:#eee;}
.d3f_eachbranch li.d3f_currenttopic{
	background-color		:#fff;}

/* d3f_tree */

div.d3f_tree h2{
	margin-bottom			:4px;}

/* deleteposts */

#deleteposts ul,#deleteposts ul li,
#cutpastebypostid ul,#cutpastebypostid ul li,
#cutpastebyforumid ul,#cutpastebyforumid ul li{
	list-style			:none outside;
	margin				:0;
	padding				:0;}
#deleteposts ul li *,
#cutpastebypostid ul li *,
#cutpastebyforumid ul li *{
	vertical-align		:middle;}


/* adjust width as avatar's */

dl.d3f_posterinfo{
	padding				:5px;
	width				:100px;}
div.d3f_msg{
	background-position	:110px;}
div.d3f_msgfld{
	margin				:0 0 0 110px;}

/* edit colors */
/* titles */

div.d3f_msgtitle h2{
	background-color		:#555;}
div.d3f_msgtitle h2 a{
	color				:#fff;}
div.d3f_msgtitle h2 a:hover{
	color				:#f4b343;}

h2.d3f_head{
	color				:#fff;
	background-color		:#555;}
h2.d3f_head a{
	color				:#fff;}
h2.d3f_head a:hover{
	color				:#f4b343;}

.d3f_table thead th{
	text-align			:left !important;
	background-color		:#555 !important;}
.d3f_table tr.even td{
	background-color		:#dfdfdd !important;}
.d3f_table tr.odd td{
	background-color		:#f3f3f3 !important;}

.attn {
	background-color			:#f00;}

