/* made by jidaikobo */

/* h1 */

.d3forum h1{
	margin			:0;
	font-size			:120%;}

/* h2 */

.d3forum h2{
	font-weight		:bold;
	font-size			:100%;
	clear			:both;
	padding			:2px 5px;
	margin			:10px 0 3px;}

/* breadcrumbs */

.d3forum .breadcrumbs{
	clear			:both;
	font-size			:95%;
	border-top		:1px #333 solid;
	margin-top		:3px;
	padding			:3px 0;}

/* d3forum_index.html */

.d3forum p.welcome{
	margin			:0 0 5px;
	padding			:0 0 5px;
	border-bottom	:1px #333 solid;}
.d3forum dl.bbsinfo{
	font-size			:90%;
	margin			:0;
	float				:left;}
.d3forum dl.bbsinfo dt,.d3forum dl.bbsinfo dd{
	display			:inline;
	margin			:0;}
.d3forum dl.bbsinfo dd{
	margin			:0 5px 0 0;}
.d3forum dl.timeinfo{
	font-size			:90%;
	margin			:0;
	float				:left;}
.d3forum dl.timeinfo dt,.d3forum dl.timeinfo dd{
	display			:inline;
	margin			:0;}
.d3forum dl.timeinfo dd{
	margin			:0 5px 0 0;}
.d3forum .bbsctrl{
	clear			:both;
	margin			:0;
	padding			:0;}
.d3forum .bbsctrl li{
	float				:right;
	margin			:0 0 0 10px;
	padding			:0;
	display			:inline;}

/* post */

.d3forum .post{
	clear			:both;
	margin			:0;
	padding			:0;}
.d3forum .post li{
	list-style			:none;
	float				:right;
	margin			:0;
	padding			:0;}
.d3forum .post a{
	display			:block;
	background-image	:url(images/button_post.gif);
	width			:60px;
	height			:22px;
	text-indent		:-9000px !important;}
.d3forum .post a:hover{
	background-image	:url(images/button_post_ro.gif);}

/* bbsviewctrl */

.d3forum div.bbsviewctrl{
	line-height		:100%;
	clear			:both;
	padding			:15px 0;
	text-align			:right;}
.d3forum div.bbsviewctrl form{
	float				:left;
	display			:inline;}
.d3forum div.bbsviewctrl form *{
	vertical-align		:middle;}

/* topicviewctrl */

.d3forum div.topicviewctrl{
	line-height		:100%;
	clear			:both;
	padding			:7px 0;
	text-align			:right;}
.d3forum div.topicviewctrl *{
	vertical-align		:middle;}
.d3forum div.topicviewctrl .topicorderctrl{
	float				:left;
	display			:inline;}

/* BBS table - outer -  */

.d3forum .outer{
	clear			:both;}
.d3forum .outer td,.d3forum .outer th{
	padding			:2px;}

/* outer - th */

.d3forum .outer thead th,
.d3forum .outer thead td{
	white-space		:nowrap;
	text-align			:center;}
.d3forum .outer thead th.forumtitle{
	text-align			:left;}
.d3forum .outer th.postsubject a{
	color						:#fff;}
.d3forum .outer th.postsubject a:hover{
	color						:#f00;}

/* outer - topics at viewforum */

.d3forum .outer td.odd dl,
.d3forum .outer td.odd dl dd{
	margin			:0;
	padding			:0;}
.d3forum .outer td.odd dl dd.moderator{
	padding-top		:1px;
	font-size			:smaller;
	font-weight		:bold;}

/* outer - cell */

.d3forum .outer td.even,.d3forum .outer td.odd{
	vertical-align		:middle;}
.d3forum .outer td.posterinfo{
	vertical-align		:top;}

.d3forum .outer td.status,
.d3forum .outer td.numbersoftopics,
.d3forum .outer td.numbersofposts,
.d3forum .outer td.type,
.d3forum .outer td.replies,
.d3forum .outer td.views,
.d3forum .outer td.poster{
	width			:120px;
	text-align:center;}
.d3forum .outer td.date{
	white-space		:nowrap;}
.d3forum .outer td.latestpost{
	text-align			:center;
	width			:20%;}
.d3forum .outer td.forumname{
	text-align			:left;}
.d3forum .thread{
	clear			:both;
	padding-top		:25px !important:}

/* d3forum_viewtopic_flat.html - outer - cell */

.d3forum .outer th.poster{
	text-align			:center;
	width			:20%;}
.d3forum .outer td.pagenav{
	text-align			:center;}

/* d3forum_viewtopic_flat.html - topicbar */

.bbsjumpctrl form *{
	vertical-align		:middle;}
bbsjumpctrl form{
	float				:left;}


/* icon-explanation */

.d3forum .iconexp{
	padding-top		:10px;
	clear			:both;}

.d3forum .iconexp li{
	list-style			:none;}
.d3forum .iconexp li img{
	vertical-align		:middle;}

/* notification threadview */

.d3forum .notification,.d3forum .threadview{
	margin			:10px 0;
	visibility			:hidden;
	clear			:both;}

/* hidden */

.d3forum .hd{
	position			:absolute;
	left				:-9000px;}

/* d3forum_thread.html - indiviual infomation */

.d3forum .userstatus, .d3forum .gueststatus{
	margin			:0;
	padding			:0;}
.d3forum .userstatus li, .d3forum .gueststatus li{
	font-size			:80%;
	line-height		:100%;
	margin			:2px 0;
	padding			:2px;
	list-style			:none;
	background-color	:#fff;
	border			:1px #c0c0c0 solid;}
.d3forum .combody{
	vertical-align		:top !important;}
.d3forum .postdate{
	font-size			:80%;
	line-height		:100%;
	vertical-align		:middle;}

/* d3forum_thread.html */

.d3forum .editctrl{
	float				:right;}
/*
.d3forum .editctrl a{
	margin-left		:3px;
	float				:left;
	display			:block;
	width			:53px;
	height			:17px;
	text-indent		:-9000px !important;}
.d3forum .editctrl a.edit{	background-image	:url(images/button_edit.gif);}
.d3forum .editctrl a.reply{	background-image	:url(images/button_reply.gif);}
.d3forum .editctrl a.delete{	background-image	:url(images/button_delete.gif);}
.d3forum .editctrl a.edit:hover{	background-image	:url(images/button_edit_ro.gif);}
.d3forum .editctrl a.reply:hover{	background-image	:url(images/button_reply_ro.gif);}
.d3forum .editctrl a.delete:hover{	background-image	:url(images/button_delete_ro.gif);}*/

.d3forum .eachbranch ul{
	margin-left			:10px;}
.d3forum .eachbranch li{
	list-style			:none;}

/* searchinbbs */

.d3forum .search,.d3forum .searchresult{
	margin-top		:10px;}
.d3forum .searchresult td{
	text-align			:center;}
.d3forum .searchresult td.topics{
	text-align			:left;}
.d3forum .searchinbbs{
	font-weight		:bold;}

/* blocks */

.d3forum .blocks{
	font-size			:95%;
	height			:1em;
	padding			:5px 0;}

/* coloring */

/*
.d3forum h2{			background-color	:#2f5376;}
.d3forum h2 a{		color	:#fff;}
.d3forum h2 a:hover{	color	:#f60;}

.d3forum .outer thead th,
.d3forum .outer thead td{
	color			:#000;
	background-color	:#c2cdd6;}
d3forum .outer thead tr.head th{
	color			:#fff;
	background-color	:#2f5376;}
.d3forum .outer thead tr.head th a{
	color			:#fff;}
.d3forum .outer thead tr.head th a:hover{
	color			:#900;}

.d3forum .outer td.even{
	background-color	:#dee3e7;}
.d3forum .outer td.odd{
	background-color	:#e9e9e9;}

.d3forum .topicbar{
	background-color	:#c2cdd6}

.d3forum .userstatus li{
	background-color	:#fff;
	border			:1px #c0c0c0 solid;}
*/