<div class="d3f_topctrl_icons">
	<!-- post orders -->
	<{if $postorder != 0}>
		<a href="<{$mod_url}>/index.php?page=update_postorder&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>&amp;postorder=0" class="topic_icon_ctrl" style="background-image:url(<{$mod_imageurl}>/topicctrl_viewastree.gif);" title="<{$smarty.const._MD_D3FORUM_LINK_POSTORDERTREEASC}>"><{$smarty.const._MD_D3FORUM_LINK_POSTORDERTREEASC}></a>
	<{/if}>
	<{if $postorder != 2}>
		<a href="<{$mod_url}>/index.php?page=update_postorder&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>&amp;postorder=2" class="topic_icon_ctrl" style="background-image:url(<{$mod_imageurl}>/topicctrl_newerislower.gif);" title="<{$smarty.const._MD_D3FORUM_LINK_POSTORDERTIMEASC}>"><{$smarty.const._MD_D3FORUM_LINK_POSTORDERTIMEASC}></a>
	<{/if}>
	<{if $postorder != 3}>
		<a href="<{$mod_url}>/index.php?page=update_postorder&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>&amp;postorder=3" class="topic_icon_ctrl" style="background-image:url(<{$mod_imageurl}>/topicctrl_newerisupper.gif);" title="<{$smarty.const._MD_D3FORUM_LINK_POSTORDERTIMEDESC}>"><{$smarty.const._MD_D3FORUM_LINK_POSTORDERTIMEDESC}></a>
	<{/if}>
</div>
