<!-- start each post -->
<!--<table class="outer" style="margin-left: <{$post.depth_in_tree}>0px;">-->

<div class="d3f_msgtitle">
	<h2 class="head"><a id="post_id<{$post.id}>" name="post_id<{$post.id}>"><img src="<{$mod_imageurl}>/posticon<{$post.icon}>.gif" alt="<{$icon_meanings[$post.icon]}>" /></a> <{if $caller == "listposts"}><a href="<{$mod_url}>/index.php?post_id=<{$post.id}>"><{/if}><{$post.subject}><{if $caller == "listposts"}></a><{/if}></h2>
	<div class="d3f_msginfo"><{$smarty.const._MD_D3FORUM_UNIQUEPATHPREFIX}> <{$post.unique_path}>
	
	<{if $caller == "listposts"}>|
	
	<{if $post.pid}>
	<a href="#post_id<{$post.pid}>"><{$smarty.const._MD_D3FORUM_PARENTPOST}></a> -
	<{else}>
	<{$smarty.const._MD_D3FORUM_PARENTPOST}> -
	<{/if}>
	
	<{if $post.first_child_id}>
	<a href="#post_id<{$post.first_child_id}>"><{$smarty.const._MD_D3FORUM_FIRSTCHILDPOST}></a> |
	<{else}>
	<{$smarty.const._MD_D3FORUM_FIRSTCHILDPOST}> |
	<{/if}>
	
	<{if $post.prev_id}>
	<a href="#post_id<{$post.prev_id}>"><{$smarty.const._MD_D3FORUM_LINK_PREVPOST}></a> -
	<{else}>
	<{$smarty.const._MD_D3FORUM_LINK_PREVPOST}> -
	<{/if}>

	<{if $post.next_id}>
	<a href="#post_id<{$post.next_id}>"><{$smarty.const._MD_D3FORUM_LINK_NEXTPOST}></a>
	<{else}>
	<{$smarty.const._MD_D3FORUM_LINK_NEXTPOST}>
	<{/if}>

	<{/if}>
	| <{$smarty.const._MD_D3FORUM_ON}> <{$post.post_time_formatted}><{if $post.post_time < $post.modified_time}>(<{$smarty.const._MD_D3FORUM_LASTMODIFIED}> <{$post.modified_time_formatted}>)<{/if}></div>
</div>

<div class="d3f_msg">
<dl class="d3f_posterinfo">
<dt class="d3f_poster<{if $post.poster_avatar}> d3f_avatar" style="background-image:url(<{$xoops_upload_url}>/<{$post.poster_avatar.path}>);padding-bottom:<{$post.poster_avatar.height}>px;<{/if}>"><{$post.poster_uname}></dt>
	<dd>
	<{if $post.poster_uid != 0}>
	<ul class="d3f_userstatus">
		<li><{$post.poster_rank_title}></li>
		<li><img src="<{$xoops_upload_url}>/<{$post.poster_rank_image}>" alt="" /></li>
		<li><{$smarty.const._MD_D3FORUM_POSTERJOINED}>: <{$post.poster_regdate_formatted}></li>
		<li><{$smarty.const._MD_D3FORUM_POSTERFROM}>: <{$post.poster_from}></li>
		<li><{$smarty.const._MD_D3FORUM_POSTERPOSTS}>: <{$post.poster_posts_count}></li><{if $post.poster_is_online}>
		<li><{$smarty.const._MD_D3FORUM_POSTERISONLINE}></li><{/if}>
	</ul>
	<{else}>
	<ul class="d3f_gueststatus">
		<{* <{$post.guest_email}> *}>
		<li><{$smarty.const._MD_D3FORUM_TH_GUESTURL}>: <{$post.guest_url}></li>
		<li><{$smarty.const._MD_D3FORUM_TH_GUESTTRIP}>: <{$post.guest_trip}></li>
	</ul>
	<{/if}>
	</dd>
</dl>

<div class="d3f_msgfld">
<{$post.post_text}>
<{if $post.signature}>
	<p>-- <br /><{$post.signature}></p>
<{/if}>
</div>

<div class="d3f_postctrl">
<{if $forum.isadminormod}>
	<a href="<{$mod_url}>/index.php?page=cutpasteposts&amp;post_id=<{$post.id}>" class="cutpaste"><img src="<{$mod_imageurl}>/adminicon_cutpaste.gif" alt="<{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}>" /></a> |
<{/if}>

<{if ! $post.invisible}>
<span class="vote">
	<{$smarty.const._MD_D3FORUM_VOTECOUNT}>:<{$post.votes_count}>
	<{$smarty.const._MD_D3FORUM_VOTEPOINTAVG}>:<{$post.votes_avg|string_format:"%.2f"}>
	<{if $post.can_vote}>
	<a href="<{$mod_url}>/index.php?page=vote_to_post&amp;post_id=<{$post.id}>&amp;point=10"><{$smarty.const._MD_D3FORUM_VOTEPOINTDSCBEST}></a>
	<a href="<{$mod_url}>/index.php?page=vote_to_post&amp;post_id=<{$post.id}>&amp;point=0"><{$smarty.const._MD_D3FORUM_VOTEPOINTDSCWORST}></a>
	<{/if}>
	|
</span>
<{/if}>

<{if $post.can_edit}>
<a href="<{$mod_url}>/index.php?page=edit&amp;post_id=<{$post.id}>"><{$smarty.const._MD_D3FORUM_POSTEDIT}></a> |
<{/if}>

<{if $post.can_delete}>
<a href="<{$mod_url}>/index.php?page=delete&amp;post_id=<{$post.id}>"><{$smarty.const._MD_D3FORUM_POSTDELETE}></a> |
<{/if}>

<{if $post.can_reply}>
<a href="<{$mod_url}>/index.php?page=reply&amp;post_id=<{$post.id}>"><{$smarty.const._MD_D3FORUM_POSTREPLY}></a>
<{/if}>
</div>

</div>
<!-- end each post -->
