<!-- start module contents -->
<div class="d3forum">

<h1><{$smarty.const._MD_D3FORUM_CATEGORYMANAGER}></h1>

<div class="breadcrumbs"><a href="<{$mod_url}>/index.php"><{$smarty.const._MD_D3FORUM_TOP}></a>&nbsp;&gt;&nbsp;<{$smarty.const._MD_D3FORUM_CATEGORYMANAGER}></div>

<form name="categoryform" id="categoryform" action="<{$mod_url}>/index.php?page=<{$page}>&amp;cat_id=<{$category.id}>" method="post" onsubmit="return xoopsFormValidate_categoryform();">

	<{$gticket_hidden}>

	<table width="100%" class="outer" cellspacing="1">

		<tr>
			<th colspan="2"><{$formtitle}></th>
		</tr>

		<tr valign="top" align="left">
			<td class="head"><{$smarty.const._MD_D3FORUM_TH_CATEGORYTITLE}></td>
			<td class="even">
				<input type="text" name="title" id="category_title" size="60" maxlength="255" value="<{$category.title}>" />
			</td>
		</tr>

		<tr valign="top" align="left">
			<td class="head"><{$smarty.const._MD_D3FORUM_TH_CATEGORYDESC}></td>
			<td class="even">
				<textarea name="desc" id="category_desc" cols="50" rows="10"><{$category.desc}></textarea>
			</td>
		</tr>

		<tr valign="top" align="left">
			<td class="head"><{$smarty.const._MD_D3FORUM_TH_CATEGORYPARENT}></td>
			<td class="even">
				<select name="pid" id="category_pid">
					<option value="">(<{$smarty.const._MD_D3FORUM_TOP}>)</option>
					<{$cat_jumpbox_options}>
				</select>
			</td>
		</tr>

		<tr valign="top" align="left">
			<td class="head"><{$smarty.const._MD_D3FORUM_TH_CATEGORYWEIGHT}></td>
			<td class="even">
				<input type="text" name="weight" id="category_weight" size="4" maxlength="4" value="<{$category.weight}>" />
			</td>
		</tr>

		<tr valign="top" align="left">
			<td class="head">
				<{$smarty.const._MD_D3FORUM_TH_CATEGORYOPTIONS}>
				<br />
				<span class="categoryoptiondesc"><{$category.option_desc}></span>
			</td>
			<td class="even">
				<textarea name="options" id="category_options" cols="50" rows="15"><{$category.options}></textarea>
			</td>
		</tr>

		<tr valign="top" align="left">
			<td class="head">
				<{$smarty.const._MD_D3FORUM_CHILDREN_COUNT}>
			</td>
			<td class="even">
				<{$children_count}>
			</td>
		</tr>

		<tr valign="top" align="left">
			<td class="head"></td>
			<td class="even">
				<input type="submit" name="categoryman_post" value="<{$smarty.const._SUBMIT}>" />
				<{if $page == 'categorymanager' && $children_count == 0}>
				<input type="submit" name="categoryman_delete" value="<{$smarty.const._DELETE}>" onclick="return confirm('<{$smarty.const._MD_D3FORUM_MSG_CONFIRMDELETERECURSIVE}>')" />
				<{/if}>
			</td>
		</tr>

	</table>
</form>

<!-- Start Form Vaidation JavaScript //-->
<script type="text/javascript">
<!--//
function xoopsFormValidate_categoryform() {
	myform = window.document.categoryform;
	if ( myform.title.value == "" ) { window.alert("<{$smarty.const._MD_D3FORUM_TH_CATEGORYTITLE|string_format:$smarty.const._FORM_ENTER}>"); myform.title.focus(); return false; }
	return true;
}
//--></script>
<!-- End Form Vaidation JavaScript //-->

</div>
<!-- end module contents -->
