<!-- start module contents -->
<div class="breadcrumbs">
	<a href="<{$mod_url}>/index.php"><{$smarty.const._MD_D3FORUM_TOP}></a>
	&nbsp;&gt;&nbsp;
	<{foreach from=$category.paths_raw key=parent_id item=parent_title_raw}>
		<a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a>
		&nbsp;&gt;&nbsp;
	<{/foreach}>
	<a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>"><{$forum.title}></a>
	&nbsp;&gt;&nbsp;
	<a href="<{$mod_url}>/index.php?topic_id=<{$topic.id}>"><{$topic.title}></a>
	&nbsp;&gt;&nbsp;
	<{$post.subject}>
</div>

<h1 class="d3f_title"><{$post.subject}></h1>

<{if $topic.comment_link}>
	<p><a href="<{$topic.comment_link}>"><{$smarty.const._MD_D3FORUM_LINK_COMMENTSOURCE}></a></p>
<{elseif $topic.comment_description}>
	<p><{$topic.comment_description}></p>
<{/if}>

<{include file="db:`$mydirname`_inc_eachpost.html"}>

<!-- start post tree -->
<div class="d3f_tree">
<h2 class="head d3f_head"><{$smarty.const._MD_D3FORUM_POSTSTREE}></h2>

<{foreach from=$posts item=eachpost}>
<{if $eachpost.id == $post.id}>
<{$eachpost.ul_in|replace:"<ul>":"<ul type='none' class='d3f_eachbranch'>"|replace:"<li>":"<li class='d3f_eachbranchitem d3f_currenttopic'><span style='padding-left:`$eachpost.depth_in_tree`0px;'>"}>
<{else}>
<{$eachpost.ul_in|replace:"<ul>":"<ul type='none' class='d3f_eachbranch'>"|replace:"<li>":"<li class='d3f_eachbranchitem'><span style='padding-left:`$eachpost.depth_in_tree`0px;'>"}>
<{/if}>
	<a id="post_path<{$eachpost.unique_path}>" name="post_path<{$eachpost.unique_path}>">
	<a href="<{$mod_url}>/index.php?post_id=<{$eachpost.id}>"><img src="<{$mod_imageurl}>/posticon<{$eachpost.icon}>.gif" alt="<{$icon_meanings[$eachpost.icon]}>" /> <{$eachpost.unique_path}> <{$eachpost.subject}></a>
	(<{$eachpost.poster_uname}>, <{$eachpost.post_time_formatted}>)
	<{if $forum.isadminormod}><a href="<{$mod_url}>/index.php?page=cutpasteposts&amp;post_id=<{$eachpost.id}>"><img src="<{$mod_imageurl}>/adminicon_cutpaste.gif" alt="<{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}>" /></a></span><{/if}>
<{$eachpost.ul_out}>
<{/foreach}>
</div>
<!-- end topic tree -->

<{include file="db:`$mydirname`_inc_topicbar.html" caller="viewpost"}>

<hr class="notification" />

<{include file='db:system_notification_select.html'}>
<!-- end module contents -->
