<!-- start module contents -->
<div class="breadcrumbs">
	<a href="<{$mod_url}>/index.php"><{$smarty.const._MD_D3FORUM_TOP}></a>
	&nbsp;&gt;&nbsp;
	<{foreach name=catgorybreadcrumbs from=$category.paths_raw key=parent_id item=parent_title_raw}>
		<{if $smarty.foreach.catgorybreadcrumbs.last}>
			<{$parent_title_raw|escape}>
		<{else}>
			<a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a>
			&nbsp;&gt;&nbsp;
		<{/if}>
	<{/foreach}>
</div>

<h1 class="d3f_title"><{$category.title}></h1>
<p class="d3f_welcome"><{$category.desc}></p>

<{if $subcategories}><h2 class="head d3f_head"><{$smarty.const._MD_D3FORUM_SUBCATEGORIES}></h2><{/if}>

<ul class="d3f_subcategories">
<{foreach item=subcategory from=$subcategories}>
	<li><a href="<{$mod_url}>/index.php?cat_id=<{$subcategory.id}>" title="<{$subcategory.desc}>"><img src="<{$mod_imageurl}>/category_<{$subcategory.bit_new}>.gif" alt="<{$subcategory.title}>" width="16" height="16" /> <{$subcategory.title}></a> (<{$smarty.const._MD_D3FORUM_TOPICSCOUNT}>: <{$subcategory.topics_count}>, <{$smarty.const._MD_D3FORUM_POSTSCOUNT}>: <{$subcategory.posts_count}>)</li>
<{/foreach}>
</ul>

<h2 class="head d3f_head"><{$smarty.const._MD_D3FORUM_FORUM}></h2>

<table class="outer d3f_table">
<!-- start forums -->
<{foreach item=forum from=$forums}>
<tr class="<{cycle values="even,odd"}>">
<{strip}>
	<td class="d3f_mainicon">
		<img src="<{$mod_imageurl}>/forum_<{$forum.bit_new}>.gif" alt="<{$forum.title}>" />
	</td>
	<td>
	<dl>
	<dt><a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>"><{$forum.title}></a>
	&nbsp;<{if $forum.isadminormod}> [<a href="<{$mod_url}>/index.php?page=forummanager&amp;forum_id=<{$forum.id}>"><{$smarty.const._MD_D3FORUM_LINK_FORUMMANAGER}></a>]<{/if}></dt>
		<dd><{$forum.desc}></dd>
		<dd class="d3f_td_topicinfo"><{$smarty.const._MD_D3FORUM_MODERATOR}>&nbsp;
			<{foreach from=$forum.moderate_groups item=moderator}>
				<{$moderator.gname}>
			<{/foreach}>
			<{foreach from=$forum.moderate_users item=moderator}>
				<a href="<{$xoops_url}>/userinfo.php?uid=<{$moderator.uid}>"><{$moderator.uname}></a>
			<{/foreach}>
			&nbsp;<{$smarty.const._MD_D3FORUM_TOPICSCOUNT}>: <{$forum.topics_count}> <{$smarty.const._MD_D3FORUM_POSTSCOUNT}>: <{$forum.posts_count}>
			<{if $forum.can_post}><a href="<{$mod_url}>/index.php?page=newtopic&amp;forum_id=<{$forum.id}>"><{$smarty.const._MD_D3FORUM_POSTASNEWTOPIC}></a><{/if}>
		&nbsp;<{$smarty.const._MD_D3FORUM_LASTPOST}>: <{if $forum.last_post_time}><{$forum.last_post_time_formatted}> <a href="<{$xoops_url}>/userinfo.php?uid=<{$forum.last_post_uid}>"><{$forum.last_post_uname}></a> <a href="<{$mod_url}>/index.php?post_id=<{$forum.last_post_id}>"><img src="<{$mod_imageurl}>/posticon<{$forum.last_post_icon}>.gif" alt="<{$forum.last_post_subject}>" title="<{$forum.last_post_subject}>" /></a><{/if}>
		</dd>
	</dl></td>
<{/strip}>
</tr>
<{/foreach}>
<!-- end forums -->
</table>

<ul class="d3f_iconexp">
	<li><img src="<{$mod_imageurl}>/forum_1.gif" alt="" /> = <{$smarty.const._MD_D3FORUM_ALT_NEWPOSTS}></li>
	<li><img src="<{$mod_imageurl}>/forum_0.gif" alt="" /> = <{$smarty.const._MD_D3FORUM_ALT_NONEWPOSTS}></li>
</ul>

<{include file="db:`$mydirname`_inc_topicbar.html" caller="listforums"}>

<hr class="notification" />

<{include file='db:system_notification_select.html'}>
<!-- end module contents -->
