<!-- start module contents -->
<h1 class="d3f_title"><{$xoops_sitename|string_format:$smarty.const._MD_D3FORUM_FMT_WELCOME}></h1>
<p class="d3f_welcome"><{$smarty.const._MD_D3FORUM_TOSTART}></p>

<dl class="d3f_bbsinfo">
<dt><{$smarty.const._MD_D3FORUM_TOTALTOPICSCOUNT}>:</dt>
	<dd><{$total_topics_count}></dd>
<dt><{$smarty.const._MD_D3FORUM_TOTALPOSTSCOUNT}>:</dt>
	<dd><{$total_posts_count}></dd>
</dl>

<dl class="d3f_timeinfo">
<dt><{$smarty.const._MD_D3FORUM_TIMENOW}>:</dt>
	<dd><{$currenttime_formatted}></dd>
<dt><{$smarty.const._MD_D3FORUM_LASTVISIT}>:</dt>
	<dd><{$lastvisit_formatted}></dd>
</dl>

<div class="d3f_wrap">
<!-- start categories -->
<{foreach item=category from=$categories}>
<div class="head d3f_head">
<h2><a href="<{$mod_url}>/index.php?cat_id=<{$category.id}>"><img src="<{$mod_imageurl}>/category_<{$category.bit_new}>.gif" alt="" width="16" height="16" /> <{$category.title}></a></h2>
	<p><{$smarty.const._MD_D3FORUM_MODERATOR}>:
	<{foreach from=$category.moderate_groups item=moderator}>
	<{$moderator.gname}>
	<{/foreach}>
	<{foreach from=$category.moderate_users item=moderator}>
	<a href="<{$xoops_url}>/userinfo.php?uid=<{$moderator.uid}>"><{$moderator.uname}></a>
	<{/foreach}> 
	<{$smarty.const._MD_D3FORUM_TOPICSCOUNT}>: <{$category.topics_count}> <{$smarty.const._MD_D3FORUM_POSTSCOUNT}>: <{$category.posts_count}> 
	<{if $category.last_post_time}><{$smarty.const._MD_D3FORUM_LASTPOST}>: <{$category.last_post_time_formatted}><{/if}></p>
</div>
<p class="d3f_info"><{$category.desc}></p>

<{if $subcategories}>
<h3 class="d3f_head_h3"><{$smarty.const._MD_D3FORUM_SUBCATEGORIES}></h3>
<ul class="d3f_subcategories">
<{foreach item=subcategory from=$subcategories}>
	<li><a href="<{$mod_url}>/index.php?cat_id=<{$subcategory.id}>" title="<{$subcategory.desc}>"><img src="<{$mod_imageurl}>/category_<{$subcategory.bit_new}>.gif" alt="<{$subcategory.title}>" width="16" height="16" /> <{$subcategory.title}></a> (<{$smarty.const._MD_D3FORUM_TOPICSCOUNT}>: <{$subcategory.topics_count}>, <{$smarty.const._MD_D3FORUM_POSTSCOUNT}>: <{$subcategory.posts_count}>)</li>
<{/foreach}>
</ul>
<{/if}>

<{if $category.forums}>
<h3 class="d3f_head_h3"><{$smarty.const._MD_D3FORUM_FORUM}></h3>
<ul class="d3f_listforums">
<{foreach item=forum from=$category.forums}>
	<li>
	<a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>">
	<img src="<{$mod_imageurl}>/forum_<{$forum.bit_new}>.gif" alt="<{$forum.title}>" width="16" height="16" /> <{$forum.title}></a> 
	<{$smarty.const._MD_D3FORUM_REPLIES}>: <{$forum.topics_count}> <{$smarty.const._MD_D3FORUM_VIEWS}>: <{$forum.posts_count}>
	<{if $forum.last_post_time}><{$smarty.const._MD_D3FORUM_LASTPOST}>: <{$forum.last_post_time_formatted}><{/if}>
	</li>
<{/foreach}>
</ul>
<{/if}>

<div class="d3f_info_ctrl">
<a href="<{$mod_url}>/index.php?cat_ids=<{$category.id}>"><{$smarty.const._MD_D3FORUM_LISTTOPICSINCATEGORY}></a>
<{if $xoops_isadmin}>
	- <a href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>"><{$smarty.const._MD_D3FORUM_LINK_CATEGORYMANAGER}></a>
<{/if}>
<{if $category.can_makeforum}>
	- <a href="<{$mod_url}>/index.php?page=makeforum&amp;cat_id=<{$category.id}>"><{$smarty.const._MD_D3FORUM_LINK_MAKEFORUM}></a>
<{/if}>
<{if $xoops_isadmin}>
	- <a href="<{$mod_url}>/index.php?page=makecategory&amp;cat_id=<{$category.id}>"><{$smarty.const._MD_D3FORUM_LINK_MAKESUBCATEGORY}></a>
<{/if}></div>

<{/foreach}>
<!-- end categories -->
</div>

<div class="d3f_iconexps">
<ul class="d3f_iconexp">
	<li><img src="<{$mod_imageurl}>/forum_1.gif" alt="" /> = <{$smarty.const._MD_D3FORUM_ALT_NEWPOSTS}></li>
</ul>
<ul class="d3f_iconexp">
	<li><img src="<{$mod_imageurl}>/forum_0.gif" alt="" /> = <{$smarty.const._MD_D3FORUM_ALT_NONEWPOSTS}></li>
</ul>
</div>

<!-- top controller -->
<{if $xoops_isadmin}>
<h2 class="head d3f_head">
  <{$smarty.const._MD_D3FORUM_CONTROLLER_WHOLE}>
</h2>

<div class="d3f_ctrl">
	<a href="<{$mod_url}>/index.php?page=makecategory"><{$smarty.const._MD_D3FORUM_LINK_MAKECATEGORY}></a>
</div>
<{/if}>

<!-- short cut -->
<h2 class="head d3f_head"><{$smarty.const._MD_D3FORUM_SHORTCUT}></h2>
<div class="d3f_ctrl">
	<p><a href="<{$mod_url}>/index.php?cat_ids=0"><{$smarty.const._MD_D3FORUM_LISTALLTOPICS}></a></p>
	<!-- forum jumpbox -->
	<form name="forum_jump_box" action="<{$mod_url}>/index.php" method="get">
		<select name="forum_id"><{$forum_jumpbox_options}></select>
		<input type="submit" value="<{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}>" />
	</form>
	
	<!-- search -->
	<form name="d3f_search" action="<{$mod_url}>/index.php" method="get" class="d3f_search">
		<label for="d3f_search" class="d3f_searchinbbs"><{$smarty.const._MD_D3FORUM_LABEL_SEARCH}></label>&nbsp;
		<input name="keyword" type="text" id="d3f_search" size="30" id="kerywords" />
		<input type="hidden" name="page" value="search" />
		<input type="submit" name="submit" value="<{$smarty.const._SUBMIT}>" />
		&nbsp; [<a href="<{$mod_url}>/index.php?page=search"><{$smarty.const._MD_D3FORUM_LINK_ADVSEARCH}></a>]
	</form>
</div>

<hr class="notification" />

<{include file='db:system_notification_select.html'}>
<!-- end module contents -->
