<!-- start module contents -->
<div class="breadcrumbs">
	<a href="<{$mod_url}>/index.php"><{$smarty.const._MD_D3FORUM_TOP}></a>
	&nbsp;&gt;&nbsp;
	<{foreach from=$category.paths_raw key=parent_id item=parent_title_raw}>
		<a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a>
		&nbsp;&gt;&nbsp;
	<{/foreach}>
	<a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>"><{$forum.title}></a>
	&nbsp;&gt;&nbsp;
	<a href="<{$mod_url}>/index.php?topic_id=<{$topic.id}>"><{$topic.title}></a>
	&nbsp;&gt;&nbsp;
	<{$post.subject}>
</div>

<h1 class="d3f_title"><{$post.subject}></h1>

<{include file="db:`$mydirname`_inc_eachpost.html"}>

<!-- start post tree -->
<div class="d3f_tree">
<h2 class="head d3f_head"><{$smarty.const._MD_D3FORUM_POSTSTREE}></h2>

<{foreach from=$posts item=eachpost}>
<{if $eachpost.id == $post.id}>
<{$eachpost.ul_in|replace:"<ul>":"<ul type='none' class='d3f_eachbranch'>"|replace:"<li>":"<li class='d3f_eachbranchitem d3f_currenttopic' style='padding-left:`$eachpost.depth_in_tree`0px;'>"}>
<{else}>
<{$eachpost.ul_in|replace:"<ul>":"<ul type='none' class='d3f_eachbranch'>"|replace:"<li>":"<li class='d3f_eachbranchitem' style='padding-left:`$eachpost.depth_in_tree`0px;'>"}>
<{/if}>
	<a href="<{$mod_url}>/index.php?post_id=<{$eachpost.id}>"><img src="<{$mod_imageurl}>/posticon<{$eachpost.icon}>.gif" alt="<{$icon_meanings[$eachpost.icon]}>" /> <{$eachpost.tree_address}> <{$eachpost.subject}></a>
	(<{$eachpost.poster_uname}>, <{$eachpost.post_time_formatted}>)
	<{if $forum.isadminormod}><a href="<{$mod_url}>/index.php?page=cutpasteposts&amp;post_id=<{$eachpost.id}>"><{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}></a><{/if}>
<{$eachpost.ul_out}>
<{/foreach}>
</div>
<!-- end topic tree -->

<{include file="db:`$mydirname`_inc_topicbar.html" caller="viewpost"}>

<hr class="notification" />

<{include file='db:system_notification_select.html'}>
<!-- end module contents --><!-- start module contents -->
<div class="breadcrumbs">
	<a href="<{$mod_url}>/index.php"><{$smarty.const._MD_D3FORUM_TOP}></a>
	&nbsp;&gt;&nbsp;
	<{foreach from=$category.paths_raw key=parent_id item=parent_title_raw}>
		<a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a>
		&nbsp;&gt;&nbsp;
	<{/foreach}>
	<a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>"><{$forum.title}></a>
	&nbsp;&gt;&nbsp;
	<a href="<{$mod_url}>/index.php?topic_id=<{$topic.id}>"><{$topic.title}></a>
	&nbsp;&gt;&nbsp;
	<{$post.subject}>
</div>

<h1 class="d3f_title"><{$post.subject}></h1>

<{include file="db:`$mydirname`_inc_eachpost.html"}>

<!-- start post tree -->
<div class="d3f_tree">
<h2 class="head d3f_head"><{$smarty.const._MD_D3FORUM_POSTSTREE}></h2>

<{foreach from=$posts item=eachpost}>
<{$eachpost.ul_out}>
<{$eachpost.ul_in}>
	<li class="d3f_eachbranchitem<{if $eachpost.id == $post.id}> d3f_currenttopic<{/if}>" style="padding-left:<{$eachpost.depth_in_tree}>0px;">
		<{if $eachpost.id == $post.id}><strong><{/if}>
		<a href="<{$mod_url}>/index.php?post_id=<{$eachpost.id}>"><img src="<{$mod_imageurl}>/posticon<{$eachpost.icon}>.gif" alt="<{$icon_meanings[$eachpost.icon]}>" /> <{$eachpost.tree_address}> <{$eachpost.subject}></a>
		(<{$eachpost.poster_uname}>, <{$eachpost.post_time_formatted}>)
		<{if $forum.isadminormod}><a href="<{$mod_url}>/index.php?page=cutpasteposts&amp;post_id=<{$eachpost.id}>"><{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}></a><{/if}>
		<{if $eachpost.id == $post.id}></strong><{/if}>
	</li>
<{/foreach}>
<{$posts_ul_out_last}>
</div>
<!-- end topic tree -->

<{include file="db:`$mydirname`_inc_topicbar.html" caller="viewpost"}>

<hr class="notification" />

<{include file='db:system_notification_select.html'}>
<!-- end module contents -->