<!-- start module contents -->
<div class="d3forum">
<h1><{$xoops_sitename|string_format:$smarty.const._MD_D3FORUM_FMT_WELCOME}></h1>
<p class="welcome"><{$smarty.const._MD_D3FORUM_TOSTART}></p>

<dl class="bbsinfo">
<dt><{$smarty.const._MD_D3FORUM_TOTALTOPICSCOUNT}>:</dt>
	<dd><{$total_topics_count}></dd>
<dt><{$smarty.const._MD_D3FORUM_TOTALPOSTSCOUNT}>:</dt>
	<dd><{$total_posts_count}></dd>
</dl>

<br />

<dl class="timeinfo">
<dt><{$smarty.const._MD_D3FORUM_TIMENOW}>:</dt>
	<dd><{$currenttime_formatted}></dd>
<dt><{$smarty.const._MD_D3FORUM_LASTVISIT}>:</dt>
	<dd><{$lastvisit_formatted}></dd>
</dl>

<hr class="search" style="clear:both;" />

<form name="search" action="<{$mod_url}>/index.php" method="get" class="search">
	<label for="search" class="searchinbbs"><{$smarty.const._MD_D3FORUM_LABEL_SEARCH}></label>&nbsp;
	<input name="keyword" type="text" size="30" id="kerywords" />
	<input type="hidden" name="page" value="search" />
	<input type="submit" name="submit" value="<{$smarty.const._SUBMIT}>" />
	&nbsp; [<a href="<{$mod_url}>/index.php?page=search"><{$smarty.const._MD_D3FORUM_LINK_ADVSEARCH}></a>]
</form>

<hr class="categories" style="clear:both;" />

<{if $xoops_isadmin}>
	<a href="<{$mod_url}>/index.php?page=makecategory"><{$smarty.const._MD_D3FORUM_LINK_MAKECATEGORY}></a>
<{/if}>


<!-- start categories -->
<{foreach item=category from=$categories}>
	<{$category.ul_out}>
	<{$category.ul_in}>
		<li class="cat_eachbranch">
			<dl>
				<dt>
					<a href="<{$mod_url}>/index.php?cat_id=<{$category.id}>">
						<img src="<{$mod_imageurl}>/category_<{$category.bit_new}>.gif" alt="<{$category.title}>" />
						<{$category.title}>
					</a>
					<{$category.topics_count}>(<{$category.posts_count}>)
		
					<{if $xoops_isadmin}>
						<a href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>"><img src="<{$mod_imageurl}>/icon_pencil16.gif" alt="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYMANAGER}>" /></a>
					<{/if}>
		
					<{if $category.last_post_time}><{$smarty.const._MD_D3FORUM_LASTPOST}><{$category.last_post_time_formatted}><{/if}>
					<br />
					<{$category.desc}>
					<div class="moderator">
						<{$smarty.const._MD_D3FORUM_MODERATOR}>:
						<{foreach from=$category.moderate_groups item=moderator}>
							<{$moderator.gname}>
						<{/foreach}>
						<{foreach from=$category.moderate_users item=moderator}>
							<a href="<{$xoops_url}>/userinfo.php?uid=<{$moderator.uid}>"><{$moderator.uname}></a>
						<{/foreach}>
					</div>
				</dt>
				<dd>
					<{if $category.can_makeforum}>
						<a href="<{$mod_url}>/index.php?page=makeforum&amp;cat_id=<{$category.id}>"><{$smarty.const._MD_D3FORUM_LINK_MAKEFORUM}></a>
					<{/if}>
					<{if $xoops_isadmin}>
						- <a href="<{$mod_url}>/index.php?page=makecategory&amp;cat_id=<{$category.id}>"><{$smarty.const._MD_D3FORUM_LINK_MAKESUBCATEGORY}></a>
					<{/if}>
					<ul type="none" class="listforums">
					<{foreach item=forum from=$category.forums}>
						<li>
						<a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>">
						<img src="<{$mod_imageurl}>/forum_<{$forum.bit_new}>.gif" alt="<{$forum.title}>" width="16" height="16" />
						<{$forum.title}></a>
						<{$forum.topics_count}>(<{$forum.posts_count}>)
						<{if $forum.last_post_time}><{$smarty.const._MD_D3FORUM_LASTPOST}><{$forum.last_post_time_formatted}><{/if}>
						</li>
					<{/foreach}>
					</ul>
				</dd>
			</dl>
		</li>
<{/foreach}>
<{$cat_ul_out_last}>
<!-- end categories -->

<ul class="iconexp">
	<li><img src="<{$mod_imageurl}>/forum_1.gif" alt="" /> = <{$smarty.const._MD_D3FORUM_ALT_NEWPOSTS}></li>
	<li><img src="<{$mod_imageurl}>/forum_0.gif" alt="" /> = <{$smarty.const._MD_D3FORUM_ALT_NONEWPOSTS}></li>
</ul>

<hr class="notification" />
</div>

<{include file='db:system_notification_select.html'}>
<!-- end module contents -->
