<!-- start module contents -->
<div class="d3f_breadcrumbs">
	<a href="<{$mod_url}>/index.php"><{$smarty.const._MD_D3FORUM_TOP}></a>
	&nbsp;&gt;&nbsp;
	<{foreach from=$category.paths_raw key=parent_id item=parent_title_raw}>
		<a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a>
		&nbsp;&gt;&nbsp;
	<{/foreach}>
	<a href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>"><{$forum.title}></a>
	<{strip}>
	(<{if $prev_topic.id}>
		<a href="<{$mod_url}>/index.php?topic_id=<{$prev_topic.id}>" title="<{$prev_topic.title}>"><{$smarty.const._MD_D3FORUM_LINK_PREVTOPIC}></a>
	<{/if}>
	<{if $prev_topic.id && $next_topic.id}>
	 | 
	<{/if}>
	<{if $next_topic.id}>
		<a href="<{$mod_url}>/index.php?topic_id=<{$next_topic.id}>" title="<{$next_topic.title}>"><{$smarty.const._MD_D3FORUM_LINK_NEXTTOPIC}></a>
	<{/if}>)
	<{/strip}>
</div>

<h1 class="d3f_title" style="clear:both"><{$topic.title}></h1>

<{include file="db:`$mydirname`_inc_topicbar.html"}>

<{include file="db:`$mydirname`_inc_d3comment_summary.html"}>

<div class="d3f_topctrl_icons">
	<!-- post orders -->
	<{if $postorder != 0}>
		<a href="<{$mod_url}>/index.php?page=update_postorder&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>&amp;postorder=0" class="topic_icon_ctrl" style="background-image:url(<{$mod_imageurl}>/topicctrl_viewastree.gif);" title="<{$smarty.const._MD_D3FORUM_LINK_POSTORDERTREEASC}>"><{$smarty.const._MD_D3FORUM_LINK_POSTORDERTREEASC}></a>
	<{/if}>
	<{if $postorder != 2}>
		<a href="<{$mod_url}>/index.php?page=update_postorder&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>&amp;postorder=2" class="topic_icon_ctrl" style="background-image:url(<{$mod_imageurl}>/topicctrl_newerislower.gif);" title="<{$smarty.const._MD_D3FORUM_LINK_POSTORDERTIMEASC}>"><{$smarty.const._MD_D3FORUM_LINK_POSTORDERTIMEASC}></a>
	<{/if}>
	<{if $postorder != 3}>
		<a href="<{$mod_url}>/index.php?page=update_postorder&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>&amp;postorder=3" class="topic_icon_ctrl" style="background-image:url(<{$mod_imageurl}>/topicctrl_newerisupper.gif);" title="<{$smarty.const._MD_D3FORUM_LINK_POSTORDERTIMEDESC}>"><{$smarty.const._MD_D3FORUM_LINK_POSTORDERTIMEDESC}></a>
	<{/if}>
</div>

<div class="d3f_wrap">
<{foreach item=post from=$posts}>
	<{include file="db:`$mydirname`_inc_eachpost.html" post=$post caller="listposts" inner_link_format="#post_id%s"}>
<{/foreach}>
</div>

<!-- bottom of posts -->

<!-- forum jump -->
<form name="forum_jump_box" action="<{$mod_url}>/index.php" method="get" style="clear:both;">
	<p><select name="forum_id"><{$forum_jumpbox_options}></select>
	<input type="submit" value="<{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}>" /></p>
</form>

<hr class="notification" />
<{include file='db:system_notification_select.html'}>
<!-- end module contents -->
