<!-- start module contents -->
<table border="0" cellpadding="5" align="center" width="100%">
  <tr>
    <td colspan="2" align="left"><img src="<{$img_folder}>" alt="" />&nbsp;&nbsp;<a href="<{$mod_url}>/index.php"><{$lang_forumindex}></a> &nbsp; - &nbsp; <a href="<{$mod_url}>/viewallforum.php"><{$lang_alltopicsindex}></a><br />&nbsp;&nbsp;&nbsp;<img src="<{$img_folder}>" alt="" />&nbsp;&nbsp;<{$lang_search}></td>
  </tr>
</table>

<form name="Search" action="<{$mod_url}>/search.php" method="post">
  <table border="0" cellpadding="1" cellspacing="1" width="100%" class="outer">
    <tr>
      <th align="right"><{$lang_keywords}></th>
      <td class="even">
        <input type="text" name="term" size="48" />
        <br />
        <input type="radio" name="addterms" value="any" id="terms_any" checked="checked" />
        <label for="terms_any"><{$lang_searchany}></label>
        &nbsp;
        <input type="radio" name="addterms" value="all" id="terms_all" />
        <label for="terms_all"><{$lang_searchall}></label>
      </td>
    </tr>
    <tr>
      <th align="right"><{$lang_searchin}></th>
      <td class="even">
        <input type="radio" name="searchboth" value="title" id="searchin_title" />
        <label for="searchin_title"><{$lang_subject}></label>
        &nbsp;
        <input type="radio" name="searchboth" value="text" id="searchin_text" />
        <label for="searchin_text"><{$lang_body}></label>
        &nbsp;
        <input type="radio" name="searchboth" value="both" id="searchin_both" checked="checked" />
        <label for="searchin_both"><{$lang_subject}> &amp; <{$lang_body}></label>
      </td>
    </tr>
    <tr>
      <th align="right"><{$lang_forumc}></th>
      <td class="even"><{$forum_selection_box}></td>
    </tr>
    <tr>
      <th align="right"><{$lang_author}></th>
      <td class="even"><input type="text" name="search_username" /></td>
    </tr>
    <tr>
      <th align="right"><{$lang_sortby}></th>
      <td class="even">
        <input type="radio" name="sortby" value="p.post_time desc" checked="checked" id="sortby_posttime_desc" />
        <label for="sortby_posttime_desc"><{$lang_date}></label>
        &nbsp;
        <input type="radio" name="sortby" value="t.topic_title" id="sortby_topictitle_asc" />
        <label for="sortby_topictitle_asc"><{$lang_topic}></label>
        &nbsp;
        <input type="radio" name="sortby" value="f.forum_name" id="sortby_forumname_asc" />
        <label for="sortby_forumname_asc"><{$lang_forum}></label>
        &nbsp;
        <input type="radio" name="sortby" value="u.uname" id="sortby_uname_asc" />
        <label for="sortby_uname_asc"><{$lang_username}></label>
      </td>
    </tr>
    <tr>
      <td class="head" colspan="2" align="center"><input type="submit" name="submit" value="<{$lang_search}>" /></td>
    </tr>
  </table>
</form>
<!-- end module contents -->
