<!-- start module contents -->
<table border="0" cellpadding="5" align="center" width="100%">
  <tr>
    <td colspan="2" align="left"><img src="<{$img_folder}>" alt="" />&nbsp;&nbsp;<a href="<{$mod_url}>/index.php"><{$lang_forumindex}></a> &nbsp; - &nbsp; <a href="<{$mod_url}>/viewallforum.php"><{$lang_alltopicsindex}></a><br />&nbsp;&nbsp;&nbsp;<img src="<{$img_folder}>" alt="" />&nbsp;&nbsp;<a href="<{$mod_url}>/search.php"><{$lang_search}></a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<img src="<{$img_folder}>" alt="" />&nbsp;&nbsp;<{$lang_searchresults}></td>
  </tr>
</table>

<table class="outer" border="0" cellpadding="1" cellspacing="1" align="center" width="95%">

  <tr>
    <th><{$lang_forum}></th>
    <th><{$lang_topic}></th>
    <th><{$lang_author}></th>
    <th><{$lang_replies}></th>
    <th><{$lang_views}></th>
    <th><{$lang_possttime}></th>
  </tr>

  <!-- start search results -->
  <{section name=i loop=$results}>
  <tr align="center">
    <td class="even"><a href="<{$mod_url}>/viewforum.php?forum=<{$results[i].forum_id}>"><{$results[i].forum_name}></a></td>
    <td class="odd" align="left"><a href="<{$mod_url}>/viewtopic.php?topic_id=<{$results[i].topic_id}>"><{$results[i].topic_title}></a></td>
    <td class="even"><a href="<{$xoops_url}>/userinfo.php?uid=<{$results[i].user_id}>"><{$results[i].user_name}></a></td>
    <td class="odd"><{$results[i].topic_replies}></td>
    <td class="even"><{$results[i].topic_views}></td>
    <td class="odd"><{$results[i].post_time}></td>
  </tr>
  <{/section}>
  <!-- end search results -->

</table>
<br />
<form name="Search" action="<{$mod_url}>/search.php" method="post">
  <table border="0" cellpadding="1" cellspacing="1" width="100%" class="outer">
    <tr>
      <th align="right"><{$lang_keywords}></th>
      <td class="even">
        <input type="text" name="term" size="48" value="<{$prev_term}>" />
        <br />
        <input type="radio" name="addterms" value="any" id="terms_any" checked="checked" />
        <label for="terms_any"><{$lang_searchany}></label>
        &nbsp;
        <input type="radio" name="addterms" value="all" id="terms_all" />
        <label for="terms_all"><{$lang_searchall}></label>
      </td>
    </tr>
    <tr>
      <th align="right"><{$lang_searchin}></th>
      <td class="even">
        <input type="radio" name="searchboth" value="title" id="searchin_title" />
        <label for="searchin_title"><{$lang_subject}></label>
        &nbsp;
        <input type="radio" name="searchboth" value="text" id="searchin_text" />
        <label for="searchin_text"><{$lang_body}></label>
        &nbsp;
        <input type="radio" name="searchboth" value="both" id="searchin_both" checked="checked" />
        <label for="searchin_both"><{$lang_subject}> &amp; <{$lang_body}></label>
      </td>
    </tr>
    <tr>
      <th align="right"><{$lang_author}></th>
      <td class="even"><input type="text" name="search_username" value="<{$prev_uname}>" /></td>
    </tr>
    <tr>
      <th align="right"><{$lang_sortby}></th>
      <td class="even">
        <input type="radio" name="sortby" value="p.post_time desc" checked="checked" id="sortby_posttime_desc" />
        <label for="sortby_posttime_desc"><{$lang_date}></label>
        &nbsp;
        <input type="radio" name="sortby" value="t.topic_title" id="sortby_topictitle_asc" />
        <label for="sortby_topictitle_asc"><{$lang_topic}></label>
        &nbsp;
        <input type="radio" name="sortby" value="f.forum_name" id="sortby_forumname_asc" />
        <label for="sortby_forumname_asc"><{$lang_forum}></label>
        &nbsp;
        <input type="radio" name="sortby" value="u.uname" id="sortby_uname_asc" />
        <label for="sortby_uname_asc"><{$lang_username}></label>
      </td>
    </tr>
    <tr>
      <td class="head" colspan="2" align="center"><input type="submit" name="submit" value="<{$lang_search}>" /></td>
    </tr>
  </table>
</form>
<!-- end module contents -->