<div class="d3pipes_block_sync" id="<{$block.mydirname}>_block_sync">

	<{if $block.errors}>
		<{foreach from=$block.errors item="error"}>
			<div class="errorMsg"><{$error|escape|nl2br}></div>
		<{/foreach}>
	<{/if}>

	<ul>
	<{foreach from=$block.entries item="entry"}>
		<li>
			<{$smarty.const._MEDIUMDATESTRING|date:$entry.pubtime+$timezone_offset}>
			<{if $entry.clipping_id}>
				<a href="<{$block.mod_url}>/index.php?page=clipping&amp;clipping_id=<{$entry.clipping_id}>"><{$entry.headline|escape}></a>
			<{else}>
				<a href="<{$entry.link|escape}>"><{$entry.headline|escape}></a>
			<{/if}>
			<{if $entry.pipe.name}>
				(<{$entry.pipe.name}>)
			<{/if}>
		</li>
	<{/foreach}>
	</ul>

</div>
