<input type="hidden" name="options[0]" value="<{$mydirname}>" />

<input type="hidden" name="options[1]" value="<{$uniqid}>" />

<p>
	<label for="pipe_id"><{$smarty.const._MB_D3PIPES_PIPE_ID}></label>:
	<input type="text" name="options[2]" id="pipe_id" value="<{","|implode:$pipe_ids|escape}>" size="16" />
	<select name="pipe_select" id="pipe_select" onchange="xoopsGetElementById('pipe_id').value=xoopsGetElementById('pipe_id').value?xoopsGetElementById('pipe_id').value+','+this.value:this.value;">
		<{html_options options=$pipe_options}>
	</select>
</p>

<p>
	<label for="max_entries"><{$smarty.const._MB_D3PIPES_MAX_ENTRIES}></label>:
	<input type="text" name="options[3]" id="max_entries" value="<{$max_entries}>" size="4" />
</p>

<p>
	<label for="this_template"><{$smarty.const._MB_D3PIPES_THISTEMPLATE}></label>:
	<input type="text" size="60" name="options[4]" id="this_template" value="<{$this_template|escape}>" />
	<a href="<{$xoops_url}>/modules/<{$mydirname}>/admin/index.php?mode=admin&amp;lib=altsys&amp;page=mytplsform&amp;tpl_file=<{$this_template|escape}>"><{$smarty.const._EDIT}></a>
</p>
