<{* Don't use the character of singlequote (') in this templte *}>

<{if $errors}>
	<{foreach from=$errors item="error"}>
		<div class="errorMsg"><{$error|escape|nl2br}></div>
	<{/foreach}>
<{/if}>

<ul>
	<{foreach from=$entries item="entry"}>
		<li>
			<{$smarty.const._MEDIUMDATESTRING|date:$entry.pubtime+$timezone_offset}>
			<{if $entry.clipping_id}>
				<a href="<{$mod_url}>/index.php?page=clipping&amp;clipping_id=<{$entry.clipping_id}>"><{$entry.headline|escape}></a>
			<{else}>
				<a href="<{$entry.link|escape}>"><{$entry.headline|escape}></a>
			<{/if}>
			<{if $entry.pipe.name}>
				(<{$entry.pipe.name}>)
			<{/if}>
		</li>
	<{/foreach}>
</ul>
