<div class="pico_category_rss" style="float:right;">
	<a href="<{$mod_url}>/index.php?page=rss&amp;cat_id=<{$category.id}>">[RSS]</a>
</div>

<div class="pico_breadcrumbs">
	<a href="<{$mod_url}>/index.php"><{$smarty.const._MD_PICO_TOP}></a>
	-
	<a href="<{$mod_url}>/index.php?page=menu"><{$smarty.const._MD_PICO_MENU}></a>
	<{foreach from=$category.paths_raw key=parent_id item=parent_title_raw}>
	&nbsp;&gt;&nbsp;
		<a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a>
	<{/foreach}>
</div>

<{if $category.isadminormod}>
<a href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_EDITCATEGORY}>]</a>
<{/if}>

<{if $xoops_isadmin}>
	<a href="<{$mod_url}>/admin/index.php?page=category_access&amp;cat_id=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_CATEGORYPERMISSIONS}>]</a>
<{/if}>

<{if $xoops_isadmin}>
	<a href="<{$mod_url}>/admin/index.php?page=contents&amp;cat_id=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_BATCHCONTENTS}>]</a>
<{/if}>

<{if $category.can_makesubcategory}>
<a href="<{$mod_url}>/index.php?page=makecategory&amp;cat_id=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_MAKESUBCATEGORY}>]</a>
<{/if}>

<{if $category.can_post}>
<a href="<{$mod_url}>/index.php?page=makecontent&amp;cat_id=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_MAKECONTENT}>]</a>
<{/if}>

<h1><{$category.title}></h1>
<p><{$category.desc}></p>


<{if $subcategories}>
<h2><{$smarty.const._MD_PICO_SUBCATEGORIES}></h2>
<{foreach from=$subcategories item="subcategory"}>
	<dl>
		<dt>
			<a href="<{$mod_url}>/index.php?cat_id=<{$subcategory.id}>"><{$subcategory.title}></a>
		</dt>
		<dd>
			<{$subcategory.desc}>
		</dd>
	</dl>
<{/foreach}>
<{/if}>

<{if $contents}>
<h2><{$smarty.const._MD_PICO_CONTENTS}></h2>
<ul>
<{foreach from=$contents item="content"}>
	<{if $content.visible}>
		<li><a href="<{$mod_url}>/<{$content.link}>"><{$content.subject}></a></li>
	<{elseif $category.isadminormod}>
		<li><a style="color:red;" href="<{$mod_url}>/<{$content.link}>"><{$content.subject}></a></li>
	<{/if}>
<{/foreach}>
</ul>
<{/if}>

<hr class="notification" />
<{include file='db:system_notification_select.html'}>
<!-- end module contents -->
