<div class="pico_container" id="<{$mydirname}>_container">

<!-- link to RSS -->
<div class="pico_category_rss">
	<a href="<{$mod_url}>/index.php?page=rss&amp;cat_id=<{$category.id}>">[RSS]</a>
</div>

<{include file="db:`$mydirname`_inc_breadcrumbs.html"}>

<!-- controllers -->
<div class="pico_controllers">

<{if $category.isadminormod}>
<a href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_EDITCATEGORY}>]</a>
<{/if}>

<{if $xoops_isadmin}>
	<a href="<{$mod_url}>/admin/index.php?page=category_access&amp;cat_id=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_CATEGORYPERMISSIONS}>]</a>
<{/if}>

<{if $xoops_isadmin}>
	<a href="<{$mod_url}>/admin/index.php?page=contents&amp;cat_id=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_BATCHCONTENTS}>]</a>
<{/if}>

<{if $category.can_makesubcategory}>
<a href="<{$mod_url}>/index.php?page=makecategory&amp;pid=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_MAKESUBCATEGORY}>]</a>
<{/if}>

<{if $category.can_post}>
<a href="<{$mod_url}>/index.php?page=makecontent&amp;cat_id=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_MAKECONTENT}>]</a>
<{/if}>

</div>

<h1><{$category.title}></h1>
<p><{$category.desc}></p>

<!-- list subcategories -->
<{if $subcategories}>
<h2><{$smarty.const._MD_PICO_SUBCATEGORIES}></h2>
<{foreach from=$subcategories item="subcategory"}>
	<dl class="pico_subcategory">
		<dt>
			<a href="<{$mod_url}>/<{$subcategory.link}>"><{$subcategory.title}></a>
		</dt>
		<dd>
			<{$subcategory.desc}>
		</dd>
	</dl>
<{/foreach}>
<{/if}>

<!-- list contents -->
<{if $contents}>
<h2><{$smarty.const._MD_PICO_CONTENTS}></h2>
<ul class="pico_list_contents">
<{foreach from=$contents item="content"}>
	<li><a href="<{$mod_url}>/<{$content.link}>">
	<{if $content.visible}>
		<{$content.subject}>
	<{elseif $category.isadminormod}>
		<em class="pico_notice"><{$content.subject}></em>
	<{/if}>
	</a>
	<{if $category.can_edit}>
		<a href="<{$mod_url}>/index.php?page=contentmanager&amp;content_id=<{$content.id}>"><img src="<{$mod_imageurl}>/icon_edit.gif" alt="<{$smarty.const._MD_PICO_LINK_EDITCONTENT}>" /></a>
	<{/if}>
	</li>
<{/foreach}>
</ul>
<{/if}>

<hr class="notification" />
<{include file='db:system_notification_select.html'}>

</div>
<!-- end module contents -->
