<div class="pico_category_rss" style="float:right;">
	<a href="<{$mod_url}>/index.php?page=rss">[RSS]</a>
</div>

<div class="pico_breadcrumbs">
	<a href="<{$mod_url}>/index.php"><{$smarty.const._MD_PICO_TOP}></a>
</div>

<{if $xoops_isadmin}>
	<a href="<{$mod_url}>/admin/index.php?page=category_access">[<{$smarty.const._MD_PICO_LINK_CATEGORYPERMISSIONS}>]</a>
<{/if}>

<{if $xoops_isadmin}>
	<a href="<{$mod_url}>/admin/index.php?page=contents">[<{$smarty.const._MD_PICO_LINK_BATCHCONTENTS}>]</a>
<{/if}>

<p><{$mod_config.top_message}></p>

<{foreach item=category from=$categories}>
<dl style="margin-left:<{$category.depth_in_tree}>0px;">
	<dt style="margin:5px 0 0;padding:3px;background-color:#eee;">

		<!-- controllers -->
		<div class="pico_contollers_in_menu" style="float:right;">
			<{if $category.isadminormod}>
			<a href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_EDITCATEGORY}>]</a>
			<{/if}>
	
			<{if $category.can_makesubcategory}>
			<a href="<{$mod_url}>/index.php?page=makecategory&amp;cat_id=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_MAKESUBCATEGORY}>]</a>
			<{/if}>
	
			<{if $category.can_post}>
				<a href="<{$mod_url}>/index.php?page=makecontent&amp;cat_id=<{$category.id}>">[<{$smarty.const._MD_PICO_LINK_MAKECONTENT}>]</a>
			<{/if}>
		</div>

		<a href="<{$mod_url}>/index.php?cat_id=<{$category.id}>">
			<{$category.title}>
			<{if $category.isadminormod && $category.invisible_contents_counter}>
				<span style="color:red;">(<{$category.invisible_contents_counter}>)</span>
			<{/if}>
		</a>

	</dt>
	<dd style="margin:0 0 0 10px;"><ul>
	<{foreach item=content from=$category.contents}>
		<li style="margin:0;background-color:#fff;">
			<a href="<{$mod_url}>/<{$content.link}>" title="<{$smarty.const._MD_PICO_CREATED}>:<{$content.created_time_formatted}>"><{$content.subject}></a>
			<{if $category.isadminormod && ! $content.approval}>
				<span style="color:red;">(<{$smarty.const._MD_PICO_WAITINGUPDATE}>)</span>
			<{/if}>
			<{if $category.can_post}>
				<a href="<{$mod_url}>/index.php?page=contentmanager&amp;content_id=<{$content.id}>"><img src="<{$mod_imageurl}>/icon_edit.gif" alt="<{$smarty.const._MD_PICO_LINK_EDITCONTENT}>" /></a>
			<{/if}>
		</li>
	<{/foreach}>
	</ul></dd>
</dl>
<{/foreach}>

<hr class="notification" />
<{include file='db:system_notification_select.html'}>
<!-- end module contents -->
