<div class="pico_breadcrumbs">
	<a href="<{$mod_url}>/index.php"><{$smarty.const._MD_PICO_TOP}></a>
	<{foreach from=$category.paths_raw key=parent_id item=parent_title_raw}>
	&nbsp;&gt;&nbsp;
		<a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a>
	<{/foreach}>
</div>

<h1 class="pico_title"><{$formtitle}>: <{$content.subject}></h1>

<{if $preview}>
	<h2 class="pico_title"><{$smarty.const._PREVIEW}></h2>
	<div class="pico_body pico_preview" id="<{$mydirname}>_body">
	<{$preview.body}>
	</div>
<{/if}>

<form name="categoryform" id="categoryform" action="<{$mod_url}>/index.php?page=<{$page}>&amp;content_id=<{$content.id}>" method="post" onsubmit="return xoopsFormValidate_contentform();">
	<{$gticket_hidden}>
	<input type="hidden" name="content_id" value="<{$content.id}>" />

	<table class="outer pico_form_table">

		<tr valign="top" align="left">
			<th class="head"><label for="cat_id"><{$smarty.const._MD_PICO_CATEGORY}></label></th>
			<td class="even">
				<select name="cat_id" id="cat_id">
					<option value="">(<{$smarty.const._MD_PICO_TOP}>)</option>
					<{$cat_jumpbox_options}>
				</select>
			</td>
		</tr>

		<tr valign="top" align="left">
			<th class="head"><label for="subject"><{$smarty.const._MD_PICO_TH_SUBJECT}></label></th>
			<td class="even">
				<input type="text" name="subject" id="subject" size="80" maxlength="255" value="<{$content.subject}>" />
			</td>
		</tr>

		<{if ! $content.approval}>
		<tr valign="top" align="left">
			<th class="head" style="color:red;"><{$smarty.const._MD_PICO_TH_SUBJECT_WAITING}></th>
			<td class="even" style="color:red;background-color:white;"><{$content.subject_waiting}></td>
		</tr>
		<{/if}>

		<tr valign="top" align="left">
			<th class="head"><label for="htmlheader"><{$smarty.const._MD_PICO_TH_HTMLHEADER}></label></th>
			<td class="even">
				<input type="checkbox" id="htmlheader_onoff" onclick="if(this.checked){document.getElementById('htmlheader').style.display='block';}else{document.getElementById('htmlheader').style.display='none';};"  <{if $content.htmlheader}>checked="checked"<{/if}> /><label for="htmlheader_onoff"><{$smarty.const._MD_PICO_LABEL_HTMLHEADERONOFF}></label>
				<br />
				<textarea name="htmlheader" id="htmlheader" style="display:<{if $content.htmlheader}>block<{else}>none<{/if}>;width:480px;height:120px;"><{$content.htmlheader}></textarea>
			</td>
		</tr>

		<{if ! $content.approval}>
		<tr valign="top" align="left">
			<th class="head" style="color:red;"><{$smarty.const._MD_PICO_TH_HTMLHEADER_WAITING}></th>
			<td class="even" style="color:red;background-color:white;"><{$content.htmlheader_waiting}></td>
		</tr>
		<{/if}>

		<tr valign="top" align="left">
			<th class="head"><label for="body"><{$smarty.const._MD_PICO_TH_BODY}></label></th>
			<td class="even">
				<{if $body_wysiwyg}>
					<{$body_wysiwyg}>
				<{else}>
					<input type="checkbox" id="body_bbcode_onoff" onclick="if(this.checked){document.getElementById('body_bbcode_buttons_pre').style.display='block';document.getElementById('body_bbcode_buttons_post').style.display='block'}else{document.getElementById('body_bbcode_buttons_pre').style.display='none';document.getElementById('body_bbcode_buttons_post').style.display='none'};" /><label for="body_bbcode_onoff"><{$smarty.const._MD_PICO_LABEL_INPUTHELPER}></label>
					<br />
					<{xoopsdhtmltarea name="body" cols="60" rows="15" value=$content.body pre_style="display:none;" post_style="display:none;"}>
				<{/if}>
			</td>
		</tr>

		<{if ! $content.approval}>
		<tr valign="top" align="left">
			<th class="head" style="color:red;"><{$smarty.const._MD_PICO_TH_BODY_WAITING}></th>
			<td class="even" style="color:red;background-color:white;"><{$content.body_waiting}></td>
		</tr>
		<{/if}>

		<tr valign="top" align="left">
			<th class="head"><label for="filters"><{$smarty.const._MD_PICO_TH_FILTERS}></label></th>
			<td class="even">
				<ul>
				<{foreach from=$content.filter_infos key="filter_name" item="filter"}>
					<li title="<{$filter.desc}>"><input type="checkbox" name="filter_enabled_<{$filter_name}>" id="filter_enabled_<{$filter_name}>" value="1" <{if $filter.enabled}>checked="checked"<{/if}> /><input type="text" name="filter_weight_<{$filter_name}>" id="filter_weight_<{$filter_name}>" value="<{$filter.weight}>" size="3" style="text-align:right;" /> <{$filter.title}></li>
				<{/foreach}>
				</ul>
			</td>
		</tr>

		<tr valign="top" align="left">
			<th class="head"><label for="weight"><{$smarty.const._MD_PICO_TH_WEIGHT}></label></th>
			<td class="even">
				<input type="text" name="weight" id="weight" size="5" maxlength="10" value="<{$content.weight}>" style="ime-mode:disabled;" />
			</td>
		</tr>

		<tr valign="top" align="left">
			<th class="head">
				<{$smarty.const._MD_PICO_TH_CONTENTOPTIONS}>
			</th>
			
			<td class="even">

				<!-- visible -->
				<input type="checkbox" name="visible" id="visible" value="1" <{if $content.visible}>checked="checked"<{/if}> />
				<label for="visible"><{$smarty.const._MD_PICO_LABEL_VISIBLE}></label>
				<br />

				<!-- show in navi -->
				<input type="checkbox" name="show_in_navi" id="show_in_navi" value="1" <{if $content.show_in_navi}>checked="checked"<{/if}> />
				<label for="show_in_navi"><{$smarty.const._MD_PICO_LABEL_SHOWINNAVI}></label>
				<br />

				<!-- show in menu -->
				<input type="checkbox" name="show_in_menu" id="show_in_menu" value="1" <{if $content.show_in_menu}>checked="checked"<{/if}> />
				<label for="show_in_menu"><{$smarty.const._MD_PICO_LABEL_SHOWINMENU}></label>
				<br />

				<!-- allow comment -->
				<input type="checkbox" name="allow_comment" id="allow_comment" value="1" <{if $content.allow_comment}>checked="checked"<{/if}> />
				<label for="allow_comment"><{$smarty.const._MD_PICO_LABEL_ALLOWCOMMENT}></label>
				<br />

				<!-- use body cache -->
				<input type="checkbox" name="use_cache" id="use_cache" value="1" <{if $content.use_cache}>checked="checked"<{/if}> />
				<label for="use_cache"><{$smarty.const._MD_PICO_LABEL_USECACHE}></label>
				<br />
				<{$smarty.const._MD_PICO_NOTE_USECACHEDSC}></label>
				<br />

			</td>
		</tr>

	</table>

	<p class="pico_submit">
		<input type="submit" class="formButton" name="contentman_preview"  id="contentman_preview" value="<{$smarty.const._PREVIEW}>" />
		<input type="submit" class="formButton" name="contentman_post"  id="contentman_post" value="<{$smarty.const._MD_PICO_BTN_SUBMITEDITING}>" />
		<{if ! $content.approval && $category.isadminormod}>
		<input type="submit" name="contentman_copyfromwaiting" value="<{$smarty.const._MD_PICO_BTN_COPYFROMWAITING}>" onclick="return confirm('<{$smarty.const._MD_PICO_MSG_CONFIRMCOPYFROMWAITING}>')" />
		<{/if}>
		<{if $page == 'contentmanager' && $category.can_delete}>
		<input type="submit" name="contentman_delete" value="<{$smarty.const._DELETE}>" onclick="return confirm('<{$smarty.const._MD_PICO_MSG_CONFIRMDELETECONTENT}>')" />
		<{/if}>
	</p>
</form>


<!-- Start Form Vaidation JavaScript //-->
<script type="text/javascript">
<!--//
function xoopsFormValidate_postform() {
	myform = window.document.postform;
	if ( myform.subject.value == "" ) { window.alert("<{$smarty.const._MD_PICO_SUBJECT|string_format:$smarty.const._FORM_ENTER}>"); myform.subject.focus(); return false; }
	return true;
}
//-->
</script>
<!-- End Form Vaidation JavaScript //-->

<!-- end module contents -->


